*.zip
*.log
!validation/*.log
!validation/**/*.log
__pycache__/
*.pyc
*.o
*.a
.Xil/
**/.Xil/
**/.cache/
**/.runs/
**/.gen/
*.cache/
*.gen/
*.hw/
NA/
dfx_runtime.txt
package_vivado_check.txt
**/.metadata/
*.jou
*.pb
*.wdb
*.lck
